---
const { titulo, descripcion } = Astro.props; // Recibe título y descripción desde las páginas
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{titulo}</title>
		<meta name="description" content={descripcion || "Bienvenido a mi sitio web"} />
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "FAQPage",
			  "mainEntity": [
				{
				  "@type": "Question",
				  "name": "¿Cuál es la función de un arquitecto?",
				  "acceptedAnswer": {
					"@type": "Answer",
					"text": "El arquitecto es el máximo responsable de una obra y de todo su proceso..."
				  }
				},
				{
				  "@type": "Question",
				  "name": "¿Es mejor un arquitecto o un ingeniero para construir?",
				  "acceptedAnswer": {
					"@type": "Answer",
					"text": "Ambos están capacitados para la construcción, aunque cada uno destaca en cosas diferentes..."
				  }
				},
				{
				  "@type": "Question",
				  "name": "¿Cuáles son los honorarios o el precio de un arquitecto?",
				  "acceptedAnswer": {
					"@type": "Answer",
					"text": "Para una obra de 1 millón de pesos (casa habitación o similares) se cobra un 5% que serían 50 mil pesos mexicanos, esto solo por el diseño y presupuesto. Para la ejecución de la obra se cobra otro 10% que serían 100 mil en dicho caso. Siempre puedes negociar un precio a la baja con el arquitecto."
				  }
				}
			  ]
			}
			</script>	
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
  font-family: 'Poppins', sans-serif;
}

</style>
